In [124]:
import pandas as pd

## ValueError: If using all scalar values, you must pass an index

In [125]:
name1 = 'Derrick'
name2 = "John"

In [126]:
df = pd.DataFrame({'name1':name1,'name2':name2})

ValueError: If using all scalar values, you must pass an index

In [127]:
df = pd.DataFrame({'name1':name1,'name2':name2},index=["names"])

In [128]:
df

         name1 name2
names  Derrick  John

In [129]:
df = pd.DataFrame({'name1':[name1],'name2':[name2]},)

In [130]:
df

     name1 name2
0  Derrick  John

In [137]:
df = pd.DataFrame.from_records(
    [
    { 'name1':name1,'name2':name2 }
     ]
)

In [131]:
df

     name1 name2
0  Derrick  John

In [132]:
df = pd.DataFrame.from_records(
    [
    { 'name1':name1,'name2':name2 }
     ],
    index=["names"]
)

In [133]:
df

         name1 name2
names  Derrick  John

In [136]:
data = {'name1': "Derrick", 'name2': "John"}
pd.Series(data).to_frame("Names")

         Names
name1  Derrick
name2     John

### ValueError: cannot reindex from a duplicate axis

In [139]:
 names_dict ={
    'Name':['Ken','Jeff','John','Mike','Andrew','Ann','Sylvia','Dorothy','Emily','Loyford'],
    'Age':[31,52,56,12,45,56,78,85,46,135],
    'Phone':[52,79,80,75,43,125,74,44,85,45],
    'Uni':['One','Two','Three','One','Two','Three','One','Two','Three','One']
}

In [140]:
index = ["Row_one","Row_one","Row_three","Row_four","Row_five","Row_six","Row_seven","Row_eight","Row_nine","Row_ten"]

In [141]:
df = pd.DataFrame(names_dict,index=index)

In [142]:
df.head()

             Name  Age  Phone    Uni
Row_one       Ken   31     52    One
Row_one      Jeff   52     79    Two
Row_three    John   56     80  Three
Row_four     Mike   12     75    One
Row_five   Andrew   45     43    Two

In [143]:
df.index

Index(['Row_one', 'Row_one', 'Row_three', 'Row_four', 'Row_five', 'Row_six',
       'Row_seven', 'Row_eight', 'Row_nine', 'Row_ten'],
      dtype='object')

In [144]:
df.index.duplicated()

array([False,  True, False, False, False, False, False, False, False,
       False])

In [145]:
df[~df.index.duplicated()]

              Name  Age  Phone    Uni
Row_one        Ken   31     52    One
Row_three     John   56     80  Three
Row_four      Mike   12     75    One
Row_five    Andrew   45     43    Two
Row_six        Ann   56    125  Three
Row_seven   Sylvia   78     74    One
Row_eight  Dorothy   85     44    Two
Row_nine     Emily   46     85  Three
Row_ten    Loyford  135     45    One

In [146]:
df.reset_index()

       index     Name  Age  Phone    Uni
0    Row_one      Ken   31     52    One
1    Row_one     Jeff   52     79    Two
2  Row_three     John   56     80  Three
3   Row_four     Mike   12     75    One
4   Row_five   Andrew   45     43    Two
5    Row_six      Ann   56    125  Three
6  Row_seven   Sylvia   78     74    One
7  Row_eight  Dorothy   85     44    Two
8   Row_nine    Emily   46     85  Three
9    Row_ten  Loyford  135     45    One

In [119]:
df.groupby(axis=1,by='Uni')['Age'].mean().reset_index()

ValueError: cannot reindex from a duplicate axis

In [120]:
df.reset_index(inplace=True)

### UnicodeDecodeError when reading CSV file in Pandas with Python

In [ ]:
df = pd.read_csv('data.csv', engine='python')

In [ ]:
data = pd.read_csv('data.csv', encoding='utf-8')

In [ ]:
df = pd.read_csv("data.csv",encoding='utf-16')

### pandas.parser.CParserError: Error tokenizing data

In [ ]:
data = pd.read_csv('data.csv', error_bad_lines=False)

In [ ]:
df = pandas.read_csv('data.csv', header=None)

In [ ]:
df = pd.read_csv('data.csv', skiprows=3)

In [ ]:
data=pd.read_csv("data.csv", sep='\t')